.container
  .row.text-center 
    %h1 Assignments

%br
%br
= link_to "Create Assignment", new_assignment_path, class: "btn btn-primary"
%br
%br


-@assignments.each do |a|
  %ul.dl-horizontal
  %dt Name 
  = a.name
  %br
  %dt Requirements 
  = a.requirements
  = link_to "View Assignment", assignment_path(a), class: "btn btn-primary"
  %br
  %br