%ul.dl-horizontal
%dt Name
= @assignment.name
%br
%dt Requirements
= @assignment.requirements
%br
%br
= link_to "Edit", edit_assignment_path(@assignment), class: "btn btn-info"
%br
= link_to "Delete", assignment_submissions_path(@assignment), method: :delete, class: "btn btn-info"