Submissions
/ = link_to "Home", root_path
/ = link_to "Users", users_path
/ = link_to "Assignments", assignments_path
/ = link_to "Courses", courses_path
/ = link_to "Locations", locations_path
/ = link_to "Submissions", submissions_path
%br
%br
= link_to "Create Submission", new_submission_path
%br
%br
- @submissions.each do |s|
  = link_to "View Submission", submission_path(s)
  %br
  Name: 
  = s.name
  %br
  Description: 
  = s.description
  %br
