Submissions

%br
%br
= link_to "Create Submission", new_assignment_submission_path, class: "btn btn-primary"
%br
%br
- @submissions.each do |s|
  %ul.dl-horizontal
  %dt Name
  = s.name
  %br
  %dt Description 
  = s.description
  %br
  / = link_to "View Submission", assignment_submission_path(s), class: "btn btn-info"
  %br