%ul.dl-horizontal
%dt Name 
= @course.name
%br
%dt Description
= @course.description
%br
%br
= link_to "Edit", edit_course_path(@course), class: "btn btn-info"
%br
= link_to "Delete", course_path(@course), method: :delete, class: "btn btn-info" 
