.container
  .row.text-center
    %h1 Locations 
%br

=link_to "Create Location", new_location_path, class: "btn btn-primary" 
%br
%br
- @locations.each do |l|
  %ul.dl-horizontal
  %dt Name 
  = l.name
  %br
  %dt Address 
  = l.address
  %br
  / Courses Offered:
  = link_to 'View Location', location_path(l), class: "btn btn-info"
  %br 
  